@import 'global.css';
.maincard-section .slide {
  margin: 10px;
}
.maincard-section .slide .inner-slide {
  padding: 20px;
  background: #F3E10B;
  border-radius: 20px;
}
.maincard-section .slide .inner-slide:not(:last-child) {
  margin-bottom: 20px;
}
.maincard-section .slide h3 {
  color: #222222;
  width: 85%;
  font-weight: 500;
  font-size: 26px;
  line-height: 42px;
}
.maincard-section .slide p {
  color: #484545;
}

.slick-dots li button:before {
  position: absolute;
  top: 15px;
  font-size: 20px;
  text-align: center;
  color: #000;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  font-size: 25px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0745098039);
}

.main-content {
  background: #0A5383;
  padding: 50px;
  margin: 50px;
  border-radius: 30px;
}
.main-content p, .main-content li {
  color: white;
}
.main-content strong {
  color: #F3E10B;
}
.main-content h2 {
  color: #F3E10B;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 20px;
}
.main-content h1 {
  width: 90%;
  margin-bottom: 20px;
}
.main-content img {
  border-radius: 20px;
  margin: 20px 0px;
}
.main-content ul {
  margin-left: 0px;
  padding-left: 15px;
}
.main-content ul li {
  font-weight: 500;
}
.main-content ul li:not(:last-child) {
  margin-bottom: 15px;
}

.hero-heading {
  margin-top: -173px;
  margin-bottom: 80px;
}
.hero-heading .head {
  font-size: 45px !important;
  line-height: 65px;
}
.hero-heading .para {
  font-size: 30px !important;
  margin-top: 15px;
}

.recent-blog h3, .recent-blog p {
  color: #000;
}
.recent-blog .blog {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  overflow: hidden;
}
.recent-blog .blog .content {
  padding: 30px;
}
.recent-blog .blog .content h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recent-blog .blog .content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recent-blog .blog a {
  text-decoration: none;
}
.recent-blog .blog:hover h3, .recent-blog .blog:hover p {
  color: #0A5383;
  text-decoration: underline;
}
.recent-blog .img-card {
  height: 350px;
  overflow: hidden;
}
.recent-blog .img-card img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.4s ease;
}
.recent-blog .img-card:hover {
  background: #fff;
}
.recent-blog .img-card:hover img {
  transform: scale(1.05) rotate(2deg);
  opacity: 0.8;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1300px) {
  .maincard-section .slide h3 {
    color: #222222;
    width: 85%;
  }
}
@media only screen and (max-width: 1200px) {
  .main-content {
    padding-top: 140px !important;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-content {
    padding-top: 15px !important;
    margin-top: 0px;
  }
  .hero-section .row {
    position: relative;
    height: 80vh;
  }
  .hero-heading {
    margin-top: -132px;
    margin-bottom: 0px;
  }
  .hero-heading img {
    width: 40px !important;
    top: -15px !important;
  }
  .hero-heading .head {
    font-size: 22px !important;
    line-height: 30px;
  }
  .hero-heading .para {
    font-size: 22px !important;
    margin-top: 15px;
    line-height: 36px;
  }
  .recent-blog .img-card {
    height: 220px;
  }
  .recent-blog .img-card img {
    height: 220px;
  }
  .recent-blog .blog .content {
    padding: 15px;
  }
  .maincard-section .slide h3 {
    color: #222222;
    width: 100% !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .maincard-section .slide a {
    font-size: 14px;
  }
  .main-content {
    margin: 5px;
    border-radius: 30px;
    margin-top: 70px;
    padding-bottom: 30px !important;
  }
  .main-content h1 {
    width: 100%;
    line-height: 36px;
    margin-top: 15px;
    margin-bottom: 15px !important;
  }
  .main-content h2 {
    color: #F3E10B;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1160px) {
  .hero-heading .head {
    font-size: 26px !important;
    line-height: 30px;
    margin-top: 30px;
  }
  .hero-heading .para {
    font-size: 22px !important;
    margin-top: 0px;
    padding-left: 56px;
  }
  .maincard-section .slide h3 {
    color: #222222;
    width: 85%;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }
}/*# sourceMappingURL=blogs.css.map */