@import 'global.css';
.bg-layer {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: -34px !important;
}
.bg-layer svg {
  margin: 0px;
  padding: 0px;
  background: transparent;
  margin-top: -182px;
  z-index: 3;
  position: relative;
}

.first-section {
  background: #F3E10B;
}
.first-section .play-btn {
  position: absolute;
  top: 32%;
  left: 42%;
  z-index: 1;
}
.first-section .heading {
  width: 275px;
}
.first-section .heading img {
  width: 96%;
  margin-top: 10px;
  margin-bottom: -10px;
}
.first-section .heading h2 {
  font-weight: 800;
}
.first-section .heading h2 span {
  font-size: 38px;
  display: block;
  line-height: 40px;
}
.first-section p {
  margin-bottom: 0px;
}

.video-container {
  position: relative;
  width: 560px;
  height: 315px;
  background: url("/assets/imgs/youtube-thumb.png") center/cover;
  cursor: pointer;
  outline: 2px solid #000;
  outline-offset: 15px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url("play-icon.png") no-repeat center/contain;
}

.second-line-bg .actual-line {
  background-image: url(/assets/imgs/second-line-bg.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 182px;
}

.second-section .card-cts {
  padding: 5px;
  width: 20%;
}
.second-section .card-cts .main-bg-1 {
  background-image: url(/assets/imgs/2.png);
}
.second-section .card-cts .main-bg-2 {
  background-image: url(/assets/imgs/3.png);
}
.second-section .card-cts .main-bg-3 {
  background-image: url(/assets/imgs/4.png);
}
.second-section .card-cts .main-bg-4 {
  background-image: url(/assets/imgs/5.png);
}
.second-section .card-cts .main-bg-5 {
  background-image: url(/assets/imgs/6.png);
}
.second-section .card-cts .main-bg-6 {
  background-image: url(/assets/imgs/7.png);
}
.second-section .card-cts .main-bg-7 {
  background-image: url(/assets/imgs/8.png);
}
.second-section .card-cts .main-bg-8 {
  background-image: url(/assets/imgs/9.png);
}
.second-section .card-cts .main-bg-9 {
  background-image: url(/assets/imgs/10.png);
}
.second-section .card-cts .main-bg-10 {
  background-image: url(/assets/imgs/11.png);
}
.second-section .card-cts .main {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  padding-top: 145px;
  border-radius: 30px;
  overflow: hidden;
  height: 338px;
  border: 0px solid rgba(0, 0, 0, 0.2666666667);
}
.second-section .card-cts .main p {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  z-index: 1;
  color: #000;
  margin-bottom: 5px;
}
.second-section .card-cts .main img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
}
.second-section .card-cts .main h3 {
  position: relative;
  z-index: 1;
  color: #000;
  font-weight: 800;
}

.third-section .container {
  background-image: url(/assets/imgs/air-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;
  background-position: top;
  border-radius: 60px;
}
.third-section .container h2 {
  color: #fff;
}
.third-section .container .testimonials {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.third-section .slide-card {
  background: #f3e10b;
  padding: 20px;
  border-radius: 100px;
  display: flex;
  margin: 0px;
}
.third-section .slide-card p {
  color: #000;
  margin-bottom: 0px;
  text-align: left !important;
  line-height: 25px;
}
.third-section .slide-card .user-info .name {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}
.third-section .slide-card .rating img {
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.third-section .slick-dots li button:before {
  position: absolute;
  top: 15px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.third-section .slick-dots li.slick-active button:before {
  font-size: 25px;
}

.heighlight-section .slick-dots li button:before {
  position: absolute;
  top: 15px;
  font-size: 15px;
  text-align: center;
  color: #0A5383;
  opacity: 1;
}
.heighlight-section .slick-dots li.slick-active button:before {
  font-size: 20px;
}/*# sourceMappingURL=home.css.map */