@import 'global.css';
.bg-layer {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: -34px !important;
}
.bg-layer svg {
  margin: 0px;
  padding: 0px;
  background: transparent;
  margin-top: -182px;
  z-index: 3;
  position: relative;
}

.first-section {
  background: #F3E10B;
}
.first-section .play-btn {
  position: absolute;
  top: 32%;
  left: 42%;
  z-index: 1;
}
.first-section .heading {
  width: 275px;
}
.first-section .heading img {
  width: 96%;
  margin-top: 10px;
  margin-bottom: -10px;
}
.first-section .heading h2 {
  font-weight: 800;
}
.first-section .heading h2 span {
  font-size: 38px;
  display: block;
  line-height: 40px;
}
.first-section p {
  margin-bottom: 0px;
}

.video-container {
  position: relative;
  width: 560px;
  height: 315px;
  background: url("/assets/imgs/youtube-thumb.png") center/cover;
  cursor: pointer;
  outline: 2px solid #000;
  outline-offset: 15px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url("play-icon.png") no-repeat center/contain;
}

.second-line-bg .actual-line {
  background-image: url(/assets/imgs/second-line-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 182px;
}

.second-section .card-cts {
  padding: 5px;
  width: 20%;
}
.second-section .card-cts .main-bg-2 {
  background-image: url(/assets/imgs/3.png);
}
.second-section .card-cts .main-bg-3 {
  background-image: url(/assets/imgs/4.png);
}
.second-section .card-cts .main-bg-4 {
  background-image: url(/assets/imgs/5.png);
}
.second-section .card-cts .main-bg-5 {
  background-image: url(/assets/imgs/6.png);
}
.second-section .card-cts .main-bg-6 {
  background-image: url(/assets/imgs/7.png);
}
.second-section .card-cts .main-bg-7 {
  background-image: url(/assets/imgs/8.png);
}
.second-section .card-cts .main-bg-8 {
  background-image: url(/assets/imgs/9.png);
}
.second-section .card-cts .main-bg-9 {
  background-image: url(/assets/imgs/10.png);
}
.second-section .card-cts .main-bg-10 {
  background-image: url(/assets/imgs/11.png);
}
.second-section .card-cts .main {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  cursor: pointer;
}
.second-section .card-cts .main:hover h3, .second-section .card-cts .main:hover p {
  color: #000;
  text-decoration: underline;
}
.second-section .card-cts .main .img-card {
  padding: 10px;
  padding-bottom: 0px;
  background: #0BE8F9;
}
.second-section .card-cts .main .img-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.second-section .card-cts .main .content-card {
  padding: 10px;
  background-image: url(/assets/imgs/bg-cards-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 140px;
}
.second-section .card-cts .main p {
  font-size: 13px;
  line-height: 16px;
  position: relative;
  z-index: 1;
  color: #000;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.second-section .card-cts .main h3 {
  position: relative;
  z-index: 1;
  color: #000;
  font-weight: 800;
}

.third-section .container {
  background-image: url(/assets/imgs/air-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;
  background-position: top;
  border-radius: 60px;
}
.third-section .container h2 {
  color: #fff;
}
.third-section .container .testimonials {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.third-section .slide-card {
  background: #f3e10b;
  padding: 20px;
  border-radius: 100px;
  display: flex;
  margin: 0px;
}
.third-section .slide-card p {
  color: #000;
  margin-bottom: 0px;
  text-align: left !important;
  line-height: 25px;
}
.third-section .slide-card .user-info .name {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}
.third-section .slide-card .rating img {
  width: 30px;
  height: auto;
  margin-right: 6px;
}
.third-section .slick-dots li button:before {
  position: absolute;
  top: 15px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.third-section .slick-dots li.slick-active button:before {
  font-size: 25px;
}

.heighlight-section .slick-dots li button:before {
  position: absolute;
  top: 15px;
  font-size: 15px;
  text-align: center;
  color: #0A5383;
  opacity: 1;
}
.heighlight-section .slick-dots li.slick-active button:before {
  font-size: 20px;
}

.second-section {
  position: relative;
}
.second-section .close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.second-section .close i {
  font-size: 40px;
  color: #fff;
}
.second-section .modelshow {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  width: 80%;
  max-width: 100%;
  left: 10%;
  padding: 75px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  top: 1%;
}
.second-section .modelshow .img-box {
  padding: 15px;
  background: #0A5383;
  border-radius: 48px;
}
.second-section .modelshow .img-box h3 {
  color: #fff;
  margin-top: 18px;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 500;
}
.second-section .modelshow h2 {
  font-size: 50px;
}
.second-section .modelshow p {
  margin-bottom: 0px !important;
  line-height: 24px;
}
.second-section .modelshow .content h2, .second-section .modelshow .content p {
  color: #000;
}
.second-section .modelshow .btn-div a {
  background: #F3E10B;
  background-image: url(/assets/imgs/blue-underline.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
}

.water-world-section .row {
  background: rgba(11, 232, 249, 0.8980392157);
  padding: 50px;
  border-radius: 40px;
}
.water-world-section .row img {
  border-radius: 40px;
  height: 343px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 1300px) {
  .second-section .row {
    background: rgba(11, 232, 249, 0.8980392157);
    padding: 35px;
    border-radius: 40px;
  }
  .second-section .row img {
    border-radius: 40px;
    height: 290px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .second-section .card-cts .main .img-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 170px;
  }
}/*# sourceMappingURL=home.css.map */