@import 'global.css'
$blue: #0A5383
$yellow: #F3E10B

body
    overflow-x: hidden !important

.bg-layer
    margin: 0px !important
    padding: 0px !important
    margin-bottom: -34px !important
    svg
        margin: 0px
        padding: 0px
        background: transparent
        margin-top: -182px
        z-index: 3
        position: relative
.first-section
    background: $yellow
    .play-btn
        position: absolute
        top: 32%
        left: 42%
        z-index: 1
    .heading
        img
            width: 96%
            margin-top: 10px
            margin-bottom: -10px
        h2
            font-weight: 800
            span
                font-size: 38px
                display: block
                line-height: 40px
    p
        margin-bottom: 0px
        color: #000

.video-container
    position: relative
    width: 560px
    height: 315px
    background: url('/assets/imgs/youtube-thumb.jpg') center/cover
    cursor: pointer
    outline: 2px solid #000
    outline-offset: 15px

.play-button
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 80px
    height: 80px
    background: url('play-icon.png') no-repeat center/contain

.second-line-bg
    .actual-line
        background-image: url(/assets/imgs/second-line-bg.png)
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 182px

.second-section
    .card-cts
        padding: 5px
        width: 20%
        .main-bg-2
            background-image: url(/assets/imgs/3.png)
        .main-bg-3
            background-image: url(/assets/imgs/4.png)
        .main-bg-4
            background-image: url(/assets/imgs/5.png)
        .main-bg-5
            background-image: url(/assets/imgs/6.png)
        .main-bg-6
            background-image: url(/assets/imgs/7.png)
        .main-bg-7
            background-image: url(/assets/imgs/8.png)
        .main-bg-8
            background-image: url(/assets/imgs/9.png)
        .main-bg-9
            background-image: url(/assets/imgs/10.png)
        .main-bg-10
            background-image: url(/assets/imgs/11.png)

        .main
            position: relative
            background-repeat: no-repeat
            background-size: cover
            padding: 0px
            border-radius: 20px
            overflow: hidden
            border: 1px solid #0004
            cursor: pointer
            &:hover
                h3,p
                    color: #000
                    text-decoration: underline
            .img-card
                padding: 10px
                padding-bottom: 0px
                background: #0BE8F9
                img
                    border-top-left-radius: 20px
                    border-top-right-radius: 20px
                    height: 200px
                    object-fit: cover
                    object-position: center
            .content-card
                padding: 10px
                background-image: url(/assets/imgs/bg-cards-10.jpg)
                background-repeat: no-repeat
                background-size: cover
                background-position: center
                height: 140px
            p
                font-size: 13px
                line-height: 16px
                position: relative
                z-index: 1
                color: #000
                margin-bottom: 5px
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                overflow: hidden

            h3
                position: relative
                z-index: 1
                color: #000
                font-weight: 800

.third-section
    .container
        background-image: url(/assets/imgs/air-bg.jpg)
        background-repeat: no-repeat
        background-size: cover
        padding: 60px 0px
        background-position: top
        border-radius: 60px
        .img-card
            background-image: url(/assets/imgs/ellipse.png)
            padding: 0px
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            padding-bottom: 10px
            padding-left: 6px
            padding-right: 6px
            img
                border-radius: 100px
                border: 10px solid #f9f9f9
        h2
            color: #fff
        .testimonials
            width: 90%
            margin-left: auto
            margin-right: auto
    .slide-card
        background: #f3e10b
        padding: 20px
        border-radius: 100px
        display: flex
        margin: 0px
        p
            color: #000
            margin-bottom: 0px
            text-align: left!important
            line-height: 25px
        .user-info
            .name
                font-size: 32px
                color: #000
                font-weight: 800
        .rating
            img
                width: 30px
                height: auto
                margin-right: 6px

    .slick-dots li button:before
        position: absolute
        top: 15px
        font-size: 20px
        text-align: center
        color: #ffffff
        opacity: 1
    .slick-dots li.slick-active button:before
        font-size: 25px

.heighlight-section
    .slick-dots li button:before
        position: absolute
        top: 15px
        font-size: 15px
        text-align: center
        color: $blue
        opacity: 1
    .slick-dots li.slick-active button:before
        font-size: 20px

.second-section
    position: relative
    .close
        position: absolute
        top: 25px
        right: 25px
        i
            font-size: 40px
            color: #fff
    .modelshow
        display: none
        background: rgba(0, 0, 0, 0.6)
        position: fixed
        z-index: 100
        width: 80%
        max-width: 100%
        left: 10%
        padding: 75px
        border-radius: 40px
        margin-left: auto
        margin-right: auto
        top: 1%
        .img-box
            padding: 15px
            background: $blue
            border-radius: 48px
            h3
                color: #fff
                margin-top: 18px
                margin-bottom: 25px
                font-size: 28px
                font-weight: 500
        h2
            font-size: 50px
        p
            margin-bottom: 0px !important
            line-height: 24px
        .content
            h2,p
                color: #000
        .btn-div
            a
                background: #F3E10B
                background-image: url(/assets/imgs/blue-underline.png)
                background-repeat: no-repeat
                background-position: bottom
                background-size: contain
                text-transform: uppercase
                padding: 12px 30px
                border-radius: 30px

.water-world-section
    .desktop-none
        display: none!important
    .mb-none
        display: block!important
    .row
        background: rgba(11, 232, 249, 0.8980392157)
        padding: 50px
        border-radius: 40px
        img
            border-radius: 40px
            height: 343px
            object-fit: cover
            object-position: center

.isLine
    height: 700px
    display: flex
    align-items: end
    background-image: url('/assets/imgs/waterbg.png')
    background-repeat: no-repeat!important
    background-size: cover
    img
        padding-bottom: 0px !important

@media only screen and (max-width:1300px)

    .second-section
        .row
            background: rgba(11, 232, 249, 0.8980392157)
            padding: 35px
            border-radius: 40px
            img
                border-radius: 40px
                height: 290px
                object-fit: cover
                object-position: center
    .second-section .card-cts .main .img-card img
        border-top-left-radius: 20px
        border-top-right-radius: 20px
        height: 170px

    .third-section
        .img-card
            width: 28%
            img
                width: 100%!important

@media only screen and (max-width:768px)
    .hero-section
        .row
            position: relative
            height: 65vh

    .second-line-bg .actual-line
        height: 68px

    .second-section
        h2
            margin-bottom: 0px !important
        .container-fluid
            padding: 0px
        .row
            background: rgba(11, 232, 249, 0.8980392157)
            padding: 35px
            border-radius: 40px
            img
                border-radius: 40px
                height: 290px
                object-fit: cover
                object-position: center
    .second-section .card-cts .main .img-card img
        border-top-left-radius: 20px
        border-top-right-radius: 20px
        height: 170px
    .third-section
        padding: 10px
        .container
            .testimonials
                width: 100%!important
        .row
            margin: 0px !important
        .img-card
            width: 30%
            img
                width: 100%!important
                border: 5px solid #f9f9f9!important
        .slide-card
            border-radius: 30px
            p
                font-size: 14px
                margin-top: 15px
            .user-info
                .name
                    font-size: 18px
            .rating
                img
                    width: 22px
                    height: auto
                    margin-right: 5px
    .water-world-section
        .d-flex
            display: block!important
        .card-cts
            padding: 5px
            width: 49%
            display: inline-block!important
        .desktop-none
            display: inline-block!important
        .mb-none
            display: none!important
    .heighlight-section
        img
            width: 100%!important
            padding: 5px!important
    .isLine
        height: 240px
        display: flex
        align-items: end
        background-image: url('/assets/imgs/waterbg.png')
        background-repeat: no-repeat!important
        background-size: cover
        img
            padding-bottom: 0px !important
            height: 60px
            object-fit: cover
            position: relative
            bottom: -18px
    .bg-layer
        svg
            height: 50px
    .first-section
        margin-top: -85px !important
        padding-top: 40px !important
    .video-container
        position: relative
        width: 100%
        height: 220px
    .video-clms
        padding: 25px !important
