@import 'global.css'
$blue: #0A5383
$yellow: #F3E10B

.youtube-icon
    position: relative
    top: -54px
    left: 20px

.news-section
    position: relative
    z-index: 3
    margin-top: -2px !important
    background: #fff

@media only screen and (max-width:768px)
    .news-section
        img
            width: 100%
        .yt-img
            width: 19%
            top: 20px
            position: relative
