@import 'global.css';
.fixheader .container-fluid {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #0A5383;
  top: -1px;
  width: 100%;
}

header {
  background: #0A5383;
  position: sticky;
  top: 0px;
  z-index: 100;
}
header nav ul {
  padding: 0px;
  margin: 0px;
  text-align: right;
}
header nav ul li {
  display: inline-block;
  padding-left: 35px;
}
header nav ul li a {
  color: #0A5383;
  text-decoration: none;
  font-weight: 600;
}
header .top-bar {
  display: flex;
}
header .top-bar p {
  color: #fff;
  margin-bottom: 0px;
  line-height: 25px;
}
header .top-bar .cols {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
header .top-bar .first p {
  color: #F3E10B;
  font-weight: bold;
}
header .top-bar .third p, header .top-bar .fourth p {
  color: #F3E10B;
}
header .top-bar .third p a, header .top-bar .third p span, header .top-bar .fourth p a, header .top-bar .fourth p span {
  color: #fff !important;
  text-decoration: none;
}
header .top-bar .cols:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 15px;
}
header .main-nav {
  display: flex;
  align-items: center;
  height: 72px;
  background-image: url(/assets/imgs/top-bar-white.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: end;
}
header .main-nav .btn-yellow {
  background-image: url(/assets/imgs/blue-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 15px;
}
header .main-nav .btn-yellow:hover {
  background: #F3E10B;
  background-image: url(/assets/imgs/blue-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

footer {
  background: #0C1F38;
}
footer h3, footer p, footer ul, footer li, footer a {
  color: #fff;
  text-decoration: none;
}
footer h3 {
  font-size: 26px;
  font-weight: 600;
}
footer ul {
  padding: 18px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer ul li {
  line-height: 30px;
}
footer .ct-90 {
  margin-top: 90px;
}
footer .foot-4 .sub, footer .foot-4-tab .sub {
  font-weight: 600;
  font-size: 20px;
}
footer .foot-4 p, footer .foot-4-tab p {
  margin-bottom: 0px;
}
footer .foot-4 .social-media img, footer .foot-4-tab .social-media img {
  width: 26px;
  margin-left: 18px;
  margin-top: 15px;
}
footer .foot-4 .social-media i, footer .foot-4-tab .social-media i {
  font-size: 28px;
  margin-top: 15px;
}
footer .foot-4 .social-media .ii, footer .foot-4-tab .social-media .ii {
  margin-left: 18px;
}

.hero-section {
  background: #0a5383;
}
.hero-section .bg-img {
  opacity: 0.4;
}
.hero-section .bg-img img {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero-section .row {
  opacity: 1;
  position: relative;
  height: 100vh;
}
.hero-section .row .main-info p, .hero-section .row .main-info a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}
.hero-section .row .main-info p strong, .hero-section .row .main-info a strong {
  color: #F3E10B;
}
.hero-section .row .btn-div {
  margin-bottom: -150px !important;
}
.hero-section .row .btn-div .btn-yellow {
  border-radius: 100px;
  padding: 15px 30px;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: url(/assets/imgs/blue-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border: 0px;
  font-size: 22px;
}
.hero-section .row .btn-div .btn-yellow:hover {
  background: #F3E10B;
  background-image: url(/assets/imgs/blue-line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.sticky-socialmedia {
  position: fixed;
  right: 0px;
  top: 30%;
  z-index: 99;
}

.mainbar {
  width: auto;
  height: 50px;
  transition: all 0.25s ease-in-out;
}
.mainbar ul {
  margin: 0px;
  padding: 0px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.mainbar li {
  list-style: none;
  transition: all 0.25s ease-in-out;
  position: absolute;
  right: 0px;
  background: #0A5383;
  padding: 10px;
}
.mainbar li img {
  width: 30px !important;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}
.mainbar li .content {
  width: 12px;
  margin-right: -14px;
  padding-right: 0px;
  transition: all 0.25s ease-in-out;
  padding-left: 10px;
}
.mainbar li .content p, .mainbar li .content span, .mainbar li .content div {
  color: #fff;
  margin: 0px;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainbar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mainbar li:hover .content {
  width: auto;
  margin-right: 0px;
  transition: all 0.25s ease-in-out;
  padding-right: 50px;
}

.fixheader .top-bar {
  display: none;
}
.fixheader .main-logo {
  width: 29%;
}

#mb-open, #mb-close {
  display: none;
}

footer .foot-4-tab {
  display: none;
}

footer .foot-4 {
  display: block;
}

@media only screen and (max-width: 1300px) {
  header nav ul li {
    display: inline-block;
    padding-left: 25px;
  }
  header nav ul li:nth-child(1) {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .fixheader .container-fluid {
    padding: 10px 15px !important;
  }
  header {
    background: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 15px !important;
  }
  header li, header a {
    color: #fff !important;
  }
  header .last-nav a {
    color: #0A5383 !important;
  }
  header .col-md-3, header .col-md-9 {
    width: 100% !important;
  }
  header .first-level, header .top-bar {
    display: none !important;
  }
  header .main-nav {
    background: transparent;
  }
  header nav ul li {
    display: inline-block;
    padding-left: 14px;
  }
  footer .col-md-3 {
    width: 33.33% !important;
  }
  footer .foot-4-tab {
    display: block;
    margin-top: 60px;
  }
  footer .foot-4 {
    display: none;
  }
  footer h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 769px) {
  footer h3 {
    font-size: 26px;
  }
  .fixheader .container-fluid {
    padding: 0px !important;
  }
  header {
    padding: 0 !important;
  }
  footer .foot-4-tab {
    display: none;
  }
  footer .foot-4 {
    display: block;
  }
  .hero-section .row .btn-div .btn-yellow {
    font-size: 16px;
  }
  .hero-section img {
    width: 100% !important;
  }
  #mb-open, #mb-close {
    display: block;
  }
  .sticky-socialmedia {
    display: none;
  }
  #mb-open {
    position: fixed;
    font-size: 35px !important;
    left: 20px;
    top: 12px;
    color: #000 !important;
  }
  #mb-close {
    position: absolute;
    right: 20px;
    z-index: 19;
    font-size: 35px;
  }
  header .first-level, header .top-bar {
    display: none !important;
  }
  header .main-nav {
    display: none;
    height: auto !important;
    background: #0A5383 !important;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
  }
  header nav ul {
    text-align: left;
    padding: 20px 0px;
  }
  header nav ul li {
    display: block !important;
    padding: 0px;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
  }
  header nav ul li a {
    color: #fbfdff;
    font-size: 20px;
  }
  header nav ul .last-nav {
    padding-top: 15px;
    padding-bottom: 30px !important;
  }
  #footer {
    padding: 40px 15px !important;
  }
  #footer .ct-90, #footer h3 {
    margin-top: 30px;
  }
  #footer .col-md-3 {
    width: 100% !important;
  }
  #herologo {
    width: 75% !important;
  }
}/*# sourceMappingURL=style.css.map */